<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://megwann.github.io/index.html">Megan Storey</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://megwann.github.io/index.html">Home</a></li>

      <li><a href="http://megwann.github.io/otherProjects/codeAcademy/index.html">Code Academy</a></li>
      <li><a href="http://megwann.github.io/otherProjects/ticTacToe/index.html">Tic Tac Toe</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">JS Questions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><a href="http://megwann.github.io/otherProjects/jsQuestions/index.html"> Week 3 Programming Questions</a></li>
          <li><a href="http://megwann.github.io/otherProjects/jsQuestions/week5Questions.html"> Week 5 Questions </a></li>

        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Twitter Bootstrap
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://megwann.github.io/otherProjects/twitterBootstrap/index.html">Twitter Bootstrap</a></li>
          <li><a href="http://megwann.github.io/otherProjects/twitterBootstrap/carousel.html">Carousel</a></li>

        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Take An Order
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://megwann.github.io/otherProjects/takeAnOrder/takeAnOrderRegular.html">Regular</a></li>
          <li><a href="http://megwann.github.io/otherProjects/takeAnOrder/takeAnOrderBootstrap.html">Bootstrap</a></li>

        </ul>
      </li>

        
            <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ajax Examples
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://megwann.github.io/otherProjects/ajaxExamples/clients.html">Clients</a></li>
         

        </ul>
      </li>

        
        
        
        
        
        
  


    </ul>
  </div>
</nav>
