body{
        
        background-image: url(../images/background.jpg);
        }




/* +++++++++++++++++ NAV BAR ++++++++++++++++++*/


a{

color: black;
}




/* +++++++++++++++++ HOME PAGE ++++++++++++++++++*/

h1{ 

font-family: 'harry_pregular';
font-size: 200px;  
    text-align: center;
    color: black;
    text-align: center;
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
    
}

h2{

 color: black; 
        text-align: center;
    font-style: italic;
    font-size: 20px;
    text-align: center;
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
    
}


.carousel-inner > .item > img {
    margin: 0 auto;
}





/* +++++++++++++++++ Movie Rating PAFE ++++++++++++++++++*/
.harryImage{
    
      display: block;
          margin-left: auto;
          margin-right: auto;

    
}


/* +++++++++++++++++  HOUSE PAFE ++++++++++++++++++*/

/* +++++++++++++++++  ORDER PAGE  ++++++++++++++++++*/








/* +++++++++++++++++  FOOTER  ++++++++++++++++++*/
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	font-family: 'harry_pregular';
    color:  white;
	font-size: 45px;
	margin: 0;
}


.footer-basic-centered .megan{
    padding-top: 10px;
    color:  white;
	font-size: 17px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}