body{
        
        background-image: url(../images/background.jpg);
        }




/* +++++++++++++++++ NAV BAR ++++++++++++++++++*/


a{

color: black;
    text-decoration: none !important
    
}

#git{

background-color: purple;
    
}

#github{

    color: white;
}

/* +++++++++++++++++ HOME PAGE ++++++++++++++++++*/

h1{ 

font-family: 'harry_pregular';
font-size: 200px;  
    text-align: center;
    color: black;
    text-align: center;
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
    
}

h2{

 color: black; 
        text-align: center;
    font-style: italic;
    font-size: 20px;
    text-align: center;
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
    
}


.carousel-inner > .item > img {
    margin: 0 auto;
}





/* +++++++++++++++++ Movie Rating PAGE ++++++++++++++++++*/
.harryImage{
    
      display: block;
          margin-left: auto;
          margin-right: auto;

    
}


.bold{

font-family: 'harry_pregular';
font-size: 30px;  
   
    color: black;
  
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;

}
.harryPrice{

padding-top: 20px;
}

.panel-heading{

font-family: 'harry_pregular';
font-size: 23px;  
   text-align: center;
    color: black;
  
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;

}

.harryPrice,
.harryDirector,
.harryYear,
.description{

padding-left: 20px;
    padding-right: 20px;

}

#hpview{
padding-top: 50px;


}

.fanName{

font-family: 'harry_pregular';
font-size: 30px;  
   
    color: black;
  
           text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
}


/* +++++++++++++++++  ORDER PAGE  ++++++++++++++++++*/



#dh{

margin: 0 auto;
    width: 75%;
}

#successMsg{

font-family: 'harry_pregular';
    font-size: 30px;
    color: black;
    text-align: center;
        text-shadow: 0 0 5px white, 0 0 10px white,
             0 0 20px white, 0 0 30px white,
             0 0 40px white;
    

}


/* +++++++++++++++++  MOBILE  ++++++++++++++++++*/


@media screen and ( max-width: 770px ) {


h1{

    font-size: 150px;
}
    

}


@media screen and ( max-width: 600px ) {


h1{

    font-size: 80px;
}



}

