<div class="container">
    <div class="row">
        
           <h1>Movie Trailers</h1>
        <div id="trailers" class="col-lg-12">
            
         
            
            

<iframe width="560" height="315" src="https://www.youtube.com/embed/VyHV0BRtdxo" frameborder="0" allowfullscreen></iframe>
            
     
<iframe width="560" height="315" src="https://www.youtube.com/embed/uU-ET1FAv3Y" frameborder="0" allowfullscreen></iframe>
            
           
 <iframe width="560" height="315" src="https://www.youtube.com/embed/1ZdlAg3j8nI" frameborder="0" allowfullscreen></iframe>
            
            
<iframe width="560" height="315" src="https://www.youtube.com/embed/PFWAOnvMd1Q" frameborder="0" allowfullscreen></iframe>
            
<iframe width="560" height="315" src="https://www.youtube.com/embed/CQAX-YwX6iM" frameborder="0" allowfullscreen></iframe>
            
<iframe width="560" height="315" src="https://www.youtube.com/embed/jpCPvHJ6p90" frameborder="0" allowfullscreen></iframe>
            
            
<iframe width="560" height="315" src="https://www.youtube.com/embed/MxqsmsA8y5k" frameborder="0" allowfullscreen></iframe>
            

 <iframe width="560" height="315" src="https://www.youtube.com/embed/mObK5XD8udk" frameborder="0" allowfullscreen></iframe>
            
            
            
            
            
  
        </div></div></div> 

 <footer class="footer-basic-centered">

			<p class="footer-company-motto">Harry Potter Movies</p>
            <p class="megan">A Website By Megan Storey</p>

			<p class="footer-company-name">Megan Storey &copy; 2016 -- Disclamer: This website was made for a school project. No Images are my own.</p>
            

		</footer>