
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <h1>Harry Potter</h1>
            
            <h2> Harry Potter Merchandise, Movies and More! </h2>
    
    <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/image1.jpg" alt="Harry Potter">
            </div>
            <div class="item">
                <img src="images/image2.jpg" alt="Second Slide">
            </div>
            <div class="item">
                <img src="images/image3.jpg" alt="Third Slide">
            </div>
            <div class="item">
                <img src="images/image4.jpg" alt="Forth Slide">
            </div>
        </div>
        
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
    
    
        </div></div></div> 