<div class="container">
      
      <div class="page-header">
  <h1>Order a Movie</h1>
</div>


<div class="col-xs-12 col-md-3">

   <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/hp1.jpg" alt="Harry Potter">
            </div>
            <div class="item">
                <img src="images/hp2.jpg" alt="Second Slide">
            </div>
            <div class="item">
                <img src="images/hp3.jpg" alt="Third Slide">
            </div>
            <div class="item">
                <img src="images/hp4.jpg" alt="Forth Slide">
            </div>
             <div class="item">
                <img src="images/hp5.jpg" alt="Fifth Slide">
            </div>
             <div class="item">
                <img src="images/hp6.jpg" alt="Sixth Slide">
            </div>
             <div class="item">
                <img src="images/hp7.jpg" alt="Seventh Slide">
            </div>
             <div class="item">
                <img src="images/hp8.jpg" alt="Eighth Slide">
            </div>
             <div class="item">
                <img src="images/box.png" alt="Ninth Slide">
            </div>
            
            
        </div>
        
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>  
    
    

</div>
<div id="orderForm" class="col-xs-12 col-md-6">

  <div class="col-xs-12 col-md-12">
    <label class="control-label">
      Select A Movie <span class="label label-danger">New! Box Set!</span>
    </label>
      
      
    <select id="harrySelect" class="form-control">
      <option value=" Harry Potter and the Sorcerer's Stone">Harry Potter and the Sorcerer's Stone ($12.99) </option>
      <option value=" Harry Potter and the Chamber of Secrets">Harry Potter and the Chamber of Secrets ($12.99)</option>
      <option value=" Harry Potter and the Prisoner of Azkaban">Harry Potter and the Prisoner of Azkaban ($12.99)</option>
        <option value=" Harry Potter and the Goblet of Fire">Harry Potter and the Goblet of Fire ($12.99)</option>
      <option value=" Harry Potter and the Order of the Phoenix">Harry Potter and the Order of the Phoenix ($12.99)</option>
      <option value=" Harry Potter and the Half-Blood Prince">Harry Potter and the Half-Blood Prince ($12.99)</option>
      <option value=" Harry Potter and the Deathly Hallows: Part 1">Harry Potter and the Deathly Hallows: Part 1 ($12.99)</option>
      <option value=" Harry Potter and the Deathly Hallows: Part 2">Harry Potter and the Deathly Hallows: Part 2 ($12.99)</option>
    <option value=" Harry Potter Box Set: All 8 Movies">Harry Potter Box Set: All 8 Movies ($49.99)</option>

        
        
        
        
    </select>
  </div>


  <div class="col-xs-12 col-md-12">
    <label class="control-label">
      Name on Credit Card 
    </label>
    <input type="text" placeholder="Harry Potter" id="name" class="form-control">
  </div>

  <div class="col-xs-12 col-md-8">
    <label class="control-label">
      Card Number
    </label>
    <input id="cardNumber" type="text" maxlength="14" placeholder="Card Number" class="form-control input-md">
  </div>

  <div class="col-xs-12 col-md-4">
    <label class="control-label">
      Card CVV
    </label>
    <input type="text" id="securityCode" class="form-control" maxlength="3" title="Three digits at back of your card" placeholder="123">
  </div>

  <div class="col-xs-12  col-md-6">
    <label class="control-label">
      Card Expiry Month
    </label>
    <select id="expirymonth" name="expirymonth" class="form-control">
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Card Expiry Year
    </label>
    <input id="expiryYear" type="text" placeholder="Ex. 2001" class="form-control input-md">
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Address
    </label>
    <input id="address1" type="text"  placeholder="4 Privet Drive" class="form-control">
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      ZIP/Postal Code
    </label>
    <input type="text" id="zip" placeholder="H7P 7H7" class="form-control">
  </div>

  <div class="col-sm-6 col-xs-6 col-md-6">
    <label class="control-label">
      State/Province
    </label>
    <input type="text" id="state" placeholder="Surrey" class="form-control">
  </div>

  <div class="col-sm-6 col-xs-6 col-md-6">
    <label class="control-label">
      Country
    </label>
    <select id="catSelect" class="form-control">
         <option value="UK">UK</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
        
    </select>
  </div>

  <div class="col-md-12">
      <br>
    <button id="submitButton" class="btn btn-success">
     Buy Now!
    </button>
  </div>

</div>

    
 <div class="col-xs-12 col-md-3">
    
   <div id='successMsg' class='col-md-12 text-success'></div>
    
    </div>
    
    <div class="col-md-12">
<div class="logging" id="log">LOG / MAGIC</div> 
        </div>


  <link rel="stylesheet" href="css/style.css">
        
    
    