
    <div class="row">
        
        <img src="images/Megan.png" class="megan"> 
    <!-- +++++++++++++++++OrderOnline!++++++++++-->
    <div class="col-md-6">
    <div id="wrapper">
        
    
      <div class="panel panel-warning">
      <div class="panel-heading">Order Online</div>
      <div class="panel-body">   
        
    <input id="mySingleLineText" type="text" value="Full Name">
    <br>
    <br>
    <textarea id="myTextarea" rows="2" cols="50">Address</textarea>
    <br>
    <textarea id="myTextarea" rows="4" cols="50">Delivery Instructions/Special Requests</textarea>    
        
           
    <h3> Delivery Options</h3>    
    <select id="mySelect">
      <option value="We will be at your door in 30 mins or less!"selected>Delivery</option>
      <option value="We will see you in Store!"> Pick Up In Store</option>
     
    </select>
    <br>
    <div id="mySelectMessage"></div>

    <h3> Size Options</h3>
    <input type="radio" name="gender" value="Cheese" checked> Small $5.99
    <br>
    <input type="radio" name="gender" value="No Cheese"> Medium $9.99
    <br>
    <input type="radio" name="gender" value="other"> Large $14.99     
    <br>
    <input type="radio" name="gender" value="other"> XLarge $19.99     
          
          
    <br>
    <h3> Topping Options</h3>
    <input type="checkbox" name="vehicle" value="Pepperoni" checked> Pepperoni 
    <br>
    <input type="checkbox" name="vehicle" value="Mushrooms"> Mushrooms 
    <br>
    <input type="checkbox" name="vehicle" value="" > Olives
    <br>
    <input type="checkbox" name="vehicle" value="">  Onions
    <br>
    <input type="checkbox" name="vehicle" value="">  Bacon
    <br>
    <input type="checkbox" name="vehicle" value="">  Green Peppers
    <br>
    <input type="checkbox" name="vehicle" value="">  Pineapple     
    <br>
          
    <h3> Cheese Options</h3>
    <input type="checkbox" name="vehicle" value="Pepperoni" checked> Cheese
    <br>
    <input type="checkbox" name="vehicle" value="Mushrooms"> 3 Cheese Blend
    <br>
    <input type="checkbox" name="vehicle" value="" > No Cheese 
          
        </div>
    </div>
   </div>
        </div>
    
    <!-- ++++++++++++++++LEFT SIDE++++++++++++++++++++++++-->
    <div class="col-md-6">
        
  <div class="panel panel-warning">
      <div class="panel-heading"> Megan's Favourites</div>
      <div class="panel-body">   
                
          
          
  
          <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/Pizzaa1.png" alt="First Slide">
            </div>
            <div class="item">
                <img src="images/pizza2.png" alt="Second Slide">
            </div>
            <div class="item">
                <img src="images/pizza3.png" alt="Third Slide">
            </div>
            
        </div>
        
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
          
          
          
          
     <h2> Place Your Order!</h2>  
    <button id="myButton" type="button" class="btn btn-warning">Order Now!</button>
    <br>
    <h1>Thank You for Choosing Megans Pizzaria! </h1>         
          
          
          
          
       </div>
   </div>      
          
          
           
 </div>
   
        
</div>
        

    
          <!-- +++++++++++++++ FOOTER ++++++++++++++++++++ -->
          
   <div class="panel panel-warning">
      <div class="panel-heading"> &copy; Megan Storey</div>
      <div class="panel-body">
          
          <div id="log">LOG</div> 
          <a href="http://www.freepik.com">Background Image Designed by Freepik</a></div>
    </div>

