body {
background-color: #B19CD9;
}

h1 {

color: white;  
    text-align: center;
    font-size: 24pt;
}

h2{
    color: white;  
    text-align: center;
    font-size: 16pt;
}

.row {
  margin-top: 5px;
}
.nine, .col-md-4 {
  height: 300px;
  text-align: center;
}
.innerNine {
  height: 100px;
  text-align: center;
}
.o {
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  padding-bottom: 10px;
    color: pink;
}
.x {
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  padding-bottom: 10px;
    color: lightblue;
}
.green {
  color: lightgreen;
}
.allBorders {
  border: 3px white solid;
}
.borderBottom {
  border-bottom: 3px white solid;
}
.borderTop {
  border-top: 3px white solid;
}
.borderLeftAndRight {
  border-left: 3px white solid;
  border-right: 3px white solid;
}